@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

@font-face {
  font-family: 'Proxima Nova - Light';
  src: url('./fonts/Proxima Nova - Light.eot');
  src: local('☺'), url('./fonts/Proxima Nova - Light.woff') format('woff'), url('./fonts/Proxima Nova - Light.ttf') format('truetype'), url('./fonts/Proxima Nova - Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova - Regular';
  src: url('./fonts/Proxima Nova - Regular.eot');
  src: local('☺'), url('./fonts/Proxima Nova - Regular.woff') format('woff'), url('./fonts/Proxima Nova - Regular.ttf') format('truetype'), url('./fonts/Proxima Nova - Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova - Semibold';
  src: url('./fonts/Proxima Nova - Semibold.eot');
  src: local('☺'), url('./fonts/Proxima Nova - Semibold.woff') format('woff'), url('./fonts/Proxima Nova - Semibold.ttf') format('truetype'), url('./fonts/Proxima Nova - Semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('./fonts/icomoon.eot');
	src:url('./fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('./fonts/icomoon.ttf') format('truetype'),
		url('./fonts/icomoon.woff') format('woff'),
		url('./fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-write:before {
  content: "\e600";
}
.icon-gear:before {
  content: "\e601";
}
.icon-facebook:before {
  content: "\e602";
}
.icon-sync:before {
  content: "\e603";
}
.icon-success:before {
  content: "\e604";
}
.icon-comment:before {
  content: "\e605";
}
.icon-chevron-right:before {
  content: "\e606";
}
.icon-spin:before {
  content: "\e607";
}
.icon-share:before {
  content: "\e608";
}
.icon-checkmark:before {
  content: "\e609";
}
.icon-cake:before {
  content: "\e60a";
}
.icon-profile:before {
  content: "\e60b";
}
.icon-more:before {
  content: "\e60c";
}
.icon-arrow-right:before {
  content: "\e60d";
}
.icon-arrow-left:before {
  content: "\e60e";
}
.icon-messages:before {
  content: "\e60f";
}
.icon-lock:before {
  content: "\e610";
}
.icon-activity:before {
  content: "\e611";
}
.icon-list:before {
  content: "\e612";
}
.icon-heart:before {
  content: "\e613";
}
.icon-grid:before {
  content: "\e614";
}
.icon-gift:before {
  content: "\e615";
}
