<span class="desktop expandable-comment">
  <div class="avatar-comment" style="background-image: url(images/list/avatar-comment1.png)"></div>
  <div class="write-comment" t>
    <input ype="text" placeholder="Write a comment" ng-focus="expand()">
  </div>
  <div class="share-with" ng-show="expanded"><strong>Share on</strong>
    <input type="checkbox" name="facebook" id="facebook" checked><label for="facebook">Facebook</label>
    <input type="checkbox" name="twitter" id="twitter" checked><label for="twitter">Twitter</label>
    <button class="blue" ng-show="expanded"><span class="icon-comment"></span><span>Leave comment</span></button>
  </div>
</span>