<header class="dark container">
  <h2>Upcoming Events</h2>
</header>
<div class="events">
  <ul>
    <li>
      <div><span class="avatar-friend" style="background-image: url(./images/avatar-friend.png)"></span></div>
      <div>
        <p>Kitty Pride<br><strong>TODAY</strong></p>
      </div>
    </li>
    <li>
      <div><span class="avatar-friend" style="background-image: url(./images/avatar-friend.png)"></span></div>
      <div>
        <p>Kitty Pride<br><small>3 days</small></p>
      </div>
    </li>
  </ul>
</div>